
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <h2>Конструктор</h2>
    <h3>Модулей образовательной программы соответсвующая требованиям ФГОС</h3>
</body>
</html>
